{% extends noLayout == true ? viewbaseLayout : pagelayout %}

{% set page_title = ez_content_name(content) %}

{% block content %}
    {{ ez_render_field(content,'page') }}

    {{ dump() }}

{% endblock %}